.container {
    display: flex;
    height:44vw;
    justify-content: flex-end;
    padding: 0;
    .imageContainer {
        background: url(/images/Login-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
    }
.formContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 7%;
    h4 {
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
        margin: 0;
        padding-bottom: 24px;
    }
    form{
        display: flex;
        flex-direction: column;
        input {
            border: 1px solid #B0B0B0;
            border-radius: 8px;
            height: 56px;
            margin-bottom: 12px;
            margin-top: 12px;
            padding: 0;
            padding-left: 5px;
        }
    }
    button {
        color: #FFFFFF;
        cursor: pointer;
        background: #FF0000;
        border: 0;
        border-radius: 8px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 24px;
        height: 56px;
        margin-top: 12px;
        padding: 10px;
    }
    button:hover {
      background-color: #fd4646;
    }
  }
}
.bienvenido {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.registro {
    display: flex;
    font-size: 24px;
    font-weight: 400;
    justify-content: center;
    margin: 0;
    margin-top: 24px;
    a {
        color: #FF0000;
        padding-left: 4px;
        text-decoration: none;
    }
}
@media (max-width: 1450px) {
    .container{
        height: 100%;
        margin-top: 10px;
        justify-content: center;
        .imageContainer{
            display: none;
        }
    
    }

}
@media (max-width: 1370px) {
    .formContainer{
        padding-right: 0px;
    }
}
@media (min-width:490px) {
    .formContainer{
        form{
            width: 100%;
            input{
                width: 100%;
            }
        }
    }
}
@media (max-width: 490px) {
    .formContainer {
        form {
            width: 80%;
            input {
                width: 100%
            }
            p{
                padding-left: 5px;
            }
        }
    }
    .registro {
        font-size: 18px;
    }
}
