.container {
  display: flex;
  height: 44vw;
  justify-content: flex-end;
  min-height: 700px;

  .imageContainer {
    background: url(/images/Login-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
  }
}

.formContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  h4 {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
    padding-bottom: 24px;
    line-height: 1;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      border: 1px solid #b0b0b0;
      border-radius: 8px;
      height: 46px;
      margin: 8px 0;
      padding-left: 15px;
      font-size: 16px;
      font-family: Mulish;
      width: 100%;
      box-sizing: border-box;
    }

    p {
      background-color: #ff0000;
      color: #ffffff;
      justify-content: center;
      border-radius: 5px;
      margin: 0;
    }
  }

  button {
    color: #ffffff;
    cursor: pointer;
    background: #ff0000;
    font-weight: 600;
    font-family: Poppins;
    border: 0;
    border-radius: 8px;
    box-shadow: var(--buttonShadow);
    font-size: 24px;
    height: 56px;
    margin-top: 12px;
    padding: 10px;
    width: 470px;
  }

  button:hover {
    opacity: 0.8;
  }
}

.bienvenido {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 20px;
}

.registro {
  display: flex;
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
  margin: 0;
  margin-top: 24px;

  a {
    color: #ff0000;
    padding-left: 4px;
    text-decoration: none;
  }
}

@media (max-width: 1370px) {
  .container {
    justify-content: center;
    .imageContainer {
      display: none;
    }
  }

  .formContainer {
    padding-right: 0px;
  }
}

@media (max-width: 950px) {
  .container {
    height: 100%;
  }
}

@media (min-width: 490px) {
  .formContainer {
    form {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}

@media (max-width: 490px) {
  .formContainer {
    h4 {
      width: 80%;
    }

    form {
      width: 80%;

      input {
        width: 100%;
      }

      p {
        padding-left: 5px;
      }
    }

    button {
      width: 100%;
    }
  }

  .registro {
    font-size: 18px;
  }
}
