.container {
  --mod: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  min-width: 360px;

  .card {
    display: flex;
    width: calc(30 * var(--mod));
    height: calc(13 * var(--mod));
    border-radius: calc(1.6 * var(--mod));
    background-color: #7e9afd;
    border: 1px solid #0038ff;
    padding: calc(2 * var(--mod));
    margin: calc(2 * var(--mod));

    h1 {
      font-size: calc(2 * var(--mod));
      line-height: 1;
      margin: 0;
      margin-top: calc(0.4 * var(--mod));
      text-align: left;
      font-weight: 400;
    }

    .img {
      padding: 0;
      height: 100%;
      object-fit: cover;
      border-radius: var(--mod);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: calc(2 * var(--mod));
      width: 100%;
      height: 100%;

      p {
        margin-top: calc(1 * var(--mod));
        margin-bottom: auto;
        font-size: calc(1.4 * var(--mod));
        line-height: 1;
        color: rgba(0, 0, 0, 0.33);
      }

      .buttonLink {
        background-color: #0038ff;
        border-radius: calc(0.8 * var(--mod));
        padding: var(--mod);
        color: white;
        width: 100%;
        font-size: calc(1.2 * var(--mod));
        font-family: inherit;
        border: none;
        box-shadow: 0 10px 10px -5px rgba(12, 12, 12, 0.276);
        cursor: pointer;
      }
    }
  }
}

@media all and (max-width: 600px) {
  .container {
    --mod: 8px;
  }
}
