.container {
  --mod: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 0;

  .empty {
    display: block;
    width: 100%;
    text-align: center;
    color: grey !important;
    font-style: italic;
    padding: var(--mod) calc(5 * var(--mod));
    border-radius: calc(0.5 * var(--mod));
    background-color: floralwhite;
    box-sizing: border-box;
  }

  .error {
    @extend .empty;
    background-color: rgb(236, 185, 185);
  }

  .card {
    display: flex;
    width: calc(35 * var(--mod));
    height: calc(18 * var(--mod));
    border-radius: 10px;
    background-color: #7e9afd;
    border: 1px solid #3f68ff;
    padding: 15px;

    h1 {
      font-family: Poppins !important;
      font-size: 18px;
      line-height: 1.2;
      margin: auto;
      text-align: left;
      font-weight: 400;
      text-align: center;
    }

    .img {
      padding: 0;
      height: 100%;
      object-fit: cover;
      border-radius: var(--mod);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: calc(2 * var(--mod));
      width: 100%;
      height: 100%;

      p {
        margin-top: calc(1 * var(--mod));
        margin-bottom: auto;
        font-size: calc(1.4 * var(--mod));
        line-height: 1;
        color: rgba(0, 0, 0, 0.33);
      }

      .buttonLink {
        background-color: #2f5bf9;
        border-radius: 10px;
        padding: 10px 30px;
        color: white;
        width: 100%;
        font-size: 16px;
        font-family: Poppins;
        font-weight: 400;
        border: none;
        box-shadow: var(--buttonShadow);
        cursor: pointer;
        line-height: 1;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.loaderDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

@media all and (max-width: 600px) {
  .container {
    --mod: 8px;
  }
}
