.cardList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.card {
  display: flex;
  width: 500px;
  height: 233px;
  border-radius: 20px;
  background-color: #7e9afd;
  border: 1px solid #0038ff;
  padding: 20px;
  margin: 10px;

  h1 {
    font-size: 12px;
  }

  img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
  }

  div {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 100%;
    height: 100%;

    p {
      margin-bottom: auto;
    }

    .buttonLink {
      background-color: #0038ff;
      border-radius: 8px;
      padding: 15px;
      color: white;
      padding: 10px auto;
      width: 100%;
      font-size: 16px;
      font-family: inherit;
      border: none;
      box-shadow: 0 10px 10px -5px rgba(12, 12, 12, 0.276);
      cursor: pointer;
    }
  }
}
