.layout {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  h1 {
    text-align: center;
  }
}

.table {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: stretch;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  thead {
    display: none;
    @media screen and (min-width: 768px) {
      display: table-header-group;
      text-align: left;
      th {
        padding: 10px 0;
      }
      th:nth-child(1) {
        width: 25%;
      }
      th:nth-child(2) {
        width: 25%;
      }
      th:nth-child(3) {
        width: 30%;
      }
      th:nth-child(4) {
        width: 20%;
      }
    }
  }
  tbody {
    @media screen and (min-width: 768px) {
      display: table-row-group;
    }
    tr {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      margin: 10px 0;
      td {
        padding: 2px;
      }
      button {
        padding: 7px 15px;
        border-radius: 7px;
        cursor: pointer;
        font-family: 'Poppins';
        margin: 5px;
      }
      @media screen and (min-width: 768px) {
        display: table-row;
        td {
          padding: 5px 0px;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    display: table;
    table-layout: fixed;
  }
}

.deleteBtn {
  background-color: #ff0000;
  color: white;
  border: 1px solid #ff0000;
}

.messageBtn {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid black;
}

td {
  border-top: 1px solid rgb(207, 207, 207);
  border-collapse: collapse;
}
