.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .separator {
    height: 2px;
    width: 50%;
    background-color: black;
  }

  img {
    margin: 0 50px 0 50px;
  }
}
