.container {
  --mod: 10px;

  margin-bottom: calc(4 * var(--mod));

  h1 {
    margin: calc(4 * var(--mod)) auto;
    font-size: calc(4 * var(--mod));
  }
}

@media all and (max-width: 600px) {
  .container {
    --mod: 6px;
  }
}

@media all and (min-width: 900px) {
  .container {
    --mod: 12px;
  }
}
