.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  .title {
    font-size: 2rem;
    margin: 2rem 0 2rem;
    font-style: normal;
    font-weight: 600;

    @media screen and (min-width: 769px) {
      font-size: 3rem;
      margin: 1rem 0 2rem;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
