.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #fdffa4;
  border: 1px solid #f9fe00;
  border-radius: 15px;

  width: 260px;
  height: 350px;
  font-family: 'Poppins';

  @media screen and (max-width: 786px) {
    width: 250px;
  }
}

.title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: Poppins, cursive;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  width: 100%;
  line-height: 1.2;
}

.content {
  position: relative;
  height: 97px;
  overflow: hidden;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.583);
  padding: 0 10px;
  mix-blend-mode: hard-light;
  text-align: center;

  &::after {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, gray);
    pointer-events: none;
  }
}

.button {
  width: fit-content;
  padding: 10px 30px;
  margin-top: 15px;
  align-self: center;
  background: orange;
  border: none;
  box-shadow: var(--buttonShadow);
  border-radius: 10px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: white;
  cursor: pointer;
  line-height: 1;

  &:hover {
    opacity: 0.8;
  }
}

.image {
  max-height: 152px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
  object-fit: cover;

  @media screen and (max-width: 786px) {
    height: 130px;
  }
}
