
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px ;
    font-family: 'Mulish';
}

.image {
    height: 400px;
    width: 400px;
    margin-bottom: 10px;

    @media screen and (max-width: 450px) {
        height: 250px;
        width: 250px;
    }
}

.name {
    margin: 10px;
}

.content {
    width: 60%;
    margin: 10px;    
}

.error {       
    text-align: center;
    margin: 30px 10px;
}

