.container {
  --mod: 10px;

  font-family: Mulish, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  h1 {
    display: block;
    // font-family: Poppins;
    text-align: center;
    margin: calc(3 * var(--mod)) auto;
    font-size: 36px;
  }

  form {
    box-sizing: border-box;
    width: 90%;
    max-width: 700px;
    margin: auto;
    padding: calc(2 * var(--mod));
    border: 1px solid gray;
    border-radius: var(--mod);
    overflow: hidden;
  }

  .success {
    height: fit-content;
    display: flex;
    background-color: rgba(153, 205, 50, 0.468);
    color: green;
    height: auto;
    padding: calc(1 * var(--mod));
    margin-bottom: calc(2 * var(--mod));
    border: 1px solid rgba(0, 128, 0, 0.45);
    border-radius: 5px;

    img {
      height: calc(2 * var(--mod));
      float: right;
      cursor: pointer;
      opacity: 0.4;
      margin-left: auto;
    }
  }

  .error {
    @extend .success;
    background-color: rgba(239, 90, 90, 0.402);
    color: rgb(101, 27, 27);
    border-color: rgba(101, 27, 27, 0.33);
  }

  .buttonsContainer {
    display: flex;
    justify-content: start;
  }

  .submitBtn {
    display: block;
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    background-color: yellowgreen;
    border: none;
    border-radius: 7px;
    padding: 7px 15px;
    margin: 5px;
    margin-bottom: 0;
    color: white;
    cursor: pointer;
    box-shadow: var(--buttonShadow);

    &:hover {
      opacity: 0.8;
    }
  }

  .cancelBtn {
    @extend .submitBtn;
    background-color: var(--btnPrimaryColor);
  }

  .field {
    margin-bottom: 20px;

    input {
      font-family: Mulish !important;
      padding: 6px;
      border-radius: 5px;
      border: 1px solid lightgray;
    }
  }

  .label {
    display: inline-block;
    width: 80px;
    padding: 5px;
    margin: 0;
    margin-right: 10px;
  }

  .image {
    display: inline-block;
    vertical-align: top;
  }

  .imgPreview {
    margin-top: 20px;
    background-color: black;
    min-height: 130px;
    aspect-ratio: 2 / 1;
    border: 2px solid lightgray;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .content {
    margin-top: 5px;
    vertical-align: top;
    z-index: -1;

    p {
      font-family: Mulish, sans-serif;
      margin: 0;
    }
  }

  .checkbox {
    display: flex;

    input {
      margin: 0;
      margin-left: 5px;
    }

    p {
      display: inline-block;
      margin: 5px 15px;
    }
  }
}
