.buttons {
  display: flex;
  gap: 10px;
  margin-right: 10px;

  @media screen and (min-width: 1025px) {
    margin-right: 20px;
    gap: 20px;
  }
  .btn {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    border: 2px solid black;
    cursor: pointer;

    @media screen and (min-width: 1025px) {
      padding: 10px 20px;
    }
  }

  .btn:hover {
    opacity: 0.5;
  }
  .registerBtn {
    background-color: red;
    color: white;
    border-color: red;
  }
}
