.links {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.015em;
  margin: 50px 0px 50px 0px;

  .link {
    margin: 0 20px 0 20px;
  }

  .activeNavlink {
    font-weight: 700;
  }
}
