.container {
  --mod: 10px;
  text-align: center;
  font-family: Mulish;
  max-width: 600px;
  margin: calc(6 * var(--mod)) auto;

  div {
    margin: calc(6 * var(--mod)) auto;
  }

  h1 {
    font-size: calc(4 * var(--mod));
    font-weight: 700;
    margin: calc(2 * var(--mod)) auto;
  }

  .content {
    text-align: center;
    width: fit-content;
    font-size: calc(2 * var(--mod));
    font-weight: 400;
    padding: 0 calc(3 * var(--mod));
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }

  button {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    background-color: #ff0000;
    border-radius: 15px;
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    box-shadow: var(--buttonShadow);

    &:hover {
      opacity: 0.8;
    }
  }
}

@media all and (max-width: 600px) {
  .container {
    --mod: 8px;
  }
}
