table {
  font-family: Mulish;
  margin: 0 auto;
  border-collapse: collapse;

  td,
  th {
    padding: 5px 10px;
  }

  thead {
    background-color: black;
    color: white;

    th {
      text-align: left;

      &:first-child {
        padding-left: 20px;
      }
    }
  }

  tbody {
    td {
      border-bottom: 1px solid gray;

      button {
        cursor: pointer;
        background-color: orange;
        border-radius: 5px;
        border: none;
        padding: 5px 20px;
      }

      &:last-child button {
        background-color: rgb(242, 65, 65);
      }
    }
  }
}
