.card {
  border-radius: 20px;
  // height: 234px;  width: 234px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  min-width: 240px;
  min-height: 254px;
  max-height: 400px;
  max-width: 400px;
  span {
    font-size: 24px;
    line-height: 30px;
    margin: 1rem auto;
    font-weight: 700;
    letter-spacing: -0.015em;
    color: wheat;
    text-shadow: 3px 3px 3px rgb(40, 40, 40);
    text-align: center;
  }
  @media screen and (max-width: 750px) {
    min-width: 140px;
    min-height: 184px;
    span {
      font-size: 18px;
    }
  }
}
