.cards {
  display: flex;
  //align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;

  // @media screen and (min-width: 450px) {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: flex-start;
  // }
}
